openapi: 3.1.0
info:
  title: California DOJ OpenJustice Open Data Portal JSON:API
  version: '1.0'
  summary: Anonymous JSON:API 1.0 over the California Department of Justice OpenJustice open-data portal — the Attorney
    General's criminal-justice datasets (Arrests, Crimes & Clearances, Homicide, Hate Crime, Use of Force, RIPA
    stop data, deaths in custody and 19 more), their CSV/XLSX distributions, CJSC publications and data stories.
  description: 'The California Attorney General heads the California Department of Justice, whose Criminal Justice
    Statistics Center runs the OpenJustice initiative (https://openjustice.doj.ca.gov). The public site is a Vue
    single-page app; every page of it, including the Data section, is served as the same HTML shell and answers
    HTTP 200 for any path. The content behind it is read from a separate Drupal 9 host, https://data-openjustice.doj.ca.gov,
    through Drupal core''s JSON:API module — and that surface is live, entirely anonymous for reads, standards-conformant
    JSON:API 1.0, and carries the datasets, their downloadable distributions, the statistical publications and the
    data stories.


    THIS DOCUMENT IS DERIVED BY API EVANGELIST FROM LIVE PROBES ON 2026-09-17, NOT PUBLISHED BY THE DOJ. The DOJ
    publishes no developer portal, no API documentation and no OpenAPI. The app bundle at https://openjustice.doj.ca.gov/static/js/app.27bd7a2568ccfb17905a.js
    sets `axios.defaults.baseURL = "https://data-openjustice.doj.ca.gov/"` and builds `/jsonapi/node/stats`, `/jsonapi/node/dataset`
    etc. requests against it — that is how the host was found. Every path below corresponds to a `links` entry in
    the resource-type index fetched from https://data-openjustice.doj.ca.gov/jsonapi and was individually requested
    anonymously on 2026-09-17; only types that returned HTTP 200 with `application/vnd.api+json` and at least one
    resource object are described. Types the index advertises but which came back empty, or which Drupal omitted
    for insufficient authorisation, are recorded in `x-probe.excluded`. Two readable types were deliberately left
    out on privacy grounds (see `x-probe.excluded`).


    WRITES: unlike many government Drupal JSON:API surfaces this one is NOT configured read-only. Anonymous POST
    is granted on exactly the three feedback routes the site footer uses (node/signup, node/suggestion, node/bug
    — an empty-body POST returns 400 "Empty request body." rather than 401); every other write route probed (POST
    node/dataset, PATCH node/stats, DELETE node/dataset) returns 401 "No authentication credentials provided." with
    no documented way to obtain credentials. The three feedback POSTs are described; nothing else mutating is.


    NOT ON THIS API: the RIPA, Use of Force and other datasets'' content is not queryable row-by-row — the API serves
    dataset METADATA and file pointers; the data itself is in the CSV/XLSX/ZIP files under https://data-openjustice.doj.ca.gov/sites/default/files/
    (direct download, verified text/csv). The dashboard''s PHP query endpoints named in the bundle (filter-queries/agencies-load-data.php,
    filter-queries/get-cjsc-data.php) returned HTTP 500 to an unparameterised GET and are not described.'
  contact:
    name: California Department of Justice — Criminal Justice Statistics Center
    email: datarequests@doj.ca.gov
    url: https://oag.ca.gov/research-services/request-process
  termsOfService: https://oag.ca.gov/conditions
  license:
    name: California DOJ conditions of use (public government data; no licence text is attached to the files)
    url: https://oag.ca.gov/conditions
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://data-openjustice.doj.ca.gov/jsonapi
  x-derived-on: '2026-09-17'
  x-publisher-provided: false
servers:
- url: https://data-openjustice.doj.ca.gov/jsonapi
  description: Production JSON:API entry point (Drupal 9, behind an F5 load balancer that sets an `oag.ca.gov` persistence
    cookie). Public, anonymous reads.
security: []
x-provenance:
  generated: '2026-09-17'
  method: probed
  source: https://data-openjustice.doj.ca.gov/jsonapi
  author: API Evangelist
  discovery: https://openjustice.doj.ca.gov/static/js/app.27bd7a2568ccfb17905a.js (axios baseURL)
x-probe:
  fetched: '2026-09-17'
  index:
    url: https://data-openjustice.doj.ca.gov/jsonapi
    http_status: 200
    content_type: application/vnd.api+json
    resource_types_advertised: 70
  described: 32
  page_limit_cap: 50
  writes:
    anonymous_create_granted:
    - node--signup
    - node--suggestion
    - node--bug
    requires_credentials:
    - method: POST
      path: /node/dataset
      status: 401
    - method: PATCH
      path: /node/stats/{id}
      status: 401
    - method: DELETE
      path: /node/dataset/{id}
      status: 401
  excluded:
    omitted_insufficient_authorization:
    - action--action
    - base_field_override--base_field_override
    - block_content_type--block_content_type
    - corresponding_reference--corresponding_reference
    - editor--editor
    - embed_button--embed_button
    - entity_form_display--entity_form_display
    - entity_form_mode--entity_form_mode
    - entity_view_display--entity_view_display
    - entity_view_mode--entity_view_mode
    - field_config--field_config
    - field_storage_config--field_storage_config
    - filter_format--filter_format
    - image_style--image_style
    - node--bug
    - node--signup
    - node--suggestion
    - path_alias--path_alias
    - pathauto_pattern--pathauto_pattern
    - rdf_mapping--rdf_mapping
    - rest_resource_config--rest_resource_config
    - shortcut--default
    - shortcut_set--shortcut_set
    - taxonomy_vocabulary--taxonomy_vocabulary
    - tour--tour
    - user_role--user_role
    - view--view
    - webform--webform
    - webform_options--webform_options
    - workflow--workflow
    empty_collection:
    - block_content--basic
    - taxonomy_menu--taxonomy_menu
    - taxonomy_term--tags
    - webform_submission--contact
    post_only_405_on_get:
    - contact_message--feedback
    - contact_message--personal
    excluded_by_api_evangelist_on_privacy_grounds:
    - user--user (anonymous GET returns 22 Drupal account display names)
    - webform_submission--kinetic_energy_ab48_2022 (anonymous GET returns form-submission metadata including remote_addr
      and token fields)
tags:
- name: Discovery
  description: The JSON:API index.
- name: Content
  description: Datasets, publications, stats pages, data stories and site pages (node entities).
- name: Files
  description: Downloadable distributions.
- name: Paragraphs
  description: Composable page fragments (charts, tabs, report years, blocks).
- name: Taxonomies
  description: Vocabularies used to classify content.
- name: Site Configuration
  description: Drupal config entities readable anonymously.
- name: Feedback
  description: The three anonymous feedback creates the site footer uses.
paths:
  /:
    get:
      operationId: getResourceIndex
      summary: JSON:API resource-type index
      tags:
      - Discovery
      description: 'The JSON:API entry point. Returns a `links` map of every advertised resource type in `entity--bundle`
        form. Probed 2026-09-17: HTTP 200, application/vnd.api+json, 7,905 bytes, 70 resource-type link relations.
        Saved verbatim at discovery/california-attorney-general-openjustice-jsonapi-index.json.'
      responses:
        '200':
          description: Resource-type index document
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndexDocument'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
  /node/dataset:
    get:
      operationId: listNodeDataset
      summary: List node--dataset resources
      tags:
      - Content
      description: 'OpenJustice Open Data Portal datasets — the 26 published criminal-justice data products (Arrests,
        Crimes and Clearances, Homicide, Hate Crime, Use of Force, RIPA Stop Data, Death in Custody, Domestic Violence
        calls, Gun Violence Restraining Orders, Electronic Search Warrant notifications and more). Each dataset
        relates to its CSV/XLSX/ZIP/PDF distributions through `field_source` (file--file) and to a data-type taxonomy
        term through `field_data_type`. This is the collection a data consumer wants.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 26 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/node/dataset. Note: `?page[limit]=1` returns an empty page with
        meta.omitted because the lowest-id dataset node is unpublished; request the collection without page[limit]=1,
        or with page[limit]=50, to receive all 26 published datasets.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/NodeDataset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/node/dataset
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 26
  /node/dataset/{id}:
    get:
      operationId: getNodeDataset
      summary: Get one node--dataset resource by UUID
      tags:
      - Content
      description: Returns a single `node--dataset` resource object. Individual reads were verified on 2026-09-17
        against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns
        HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/NodeDataset'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/stats:
    get:
      operationId: listNodeStats
      summary: List node--stats resources
      tags:
      - Content
      description: 'The six OpenJustice Exploration "stats" pages (crime statistics explorers). `field_data_query`
        names the server-side query slug the dashboard uses; `field_path` is the public exploration path.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/node/stats?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/NodeStats'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/node/stats?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /node/stats/{id}:
    get:
      operationId: getNodeStats
      summary: Get one node--stats resource by UUID
      tags:
      - Content
      description: Returns a single `node--stats` resource object. Individual reads were verified on 2026-09-17
        against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns
        HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/NodeStats'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/publication:
    get:
      operationId: listNodePublication
      summary: List node--publication resources
      tags:
      - Content
      description: 'CJSC statistical publications (annual Crime in California, Homicide in California, Hate Crime
        in California, Juvenile Justice in California, Use of Force, RIPA). Each publication relates to per-year
        report paragraphs through `field_publication_reports`.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/node/publication?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/NodePublication'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/node/publication?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /node/publication/{id}:
    get:
      operationId: getNodePublication
      summary: Get one node--publication resource by UUID
      tags:
      - Content
      description: Returns a single `node--publication` resource object. Individual reads were verified on 2026-09-17
        against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns
        HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/NodePublication'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/documentation:
    get:
      operationId: listNodeDocumentation
      summary: List node--documentation resources
      tags:
      - Content
      description: 'Data documentation pages published alongside the datasets.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 2 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/node/documentation?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/NodeDocumentation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/node/documentation?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 2
  /node/documentation/{id}:
    get:
      operationId: getNodeDocumentation
      summary: Get one node--documentation resource by UUID
      tags:
      - Content
      description: Returns a single `node--documentation` resource object. Individual reads were verified on 2026-09-17
        against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns
        HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/NodeDocumentation'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/exploration:
    get:
      operationId: listNodeExploration
      summary: List node--exploration resources
      tags:
      - Content
      description: 'Landing pages for the Exploration section of OpenJustice.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/node/exploration?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/NodeExploration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/node/exploration?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /node/exploration/{id}:
    get:
      operationId: getNodeExploration
      summary: Get one node--exploration resource by UUID
      tags:
      - Content
      description: Returns a single `node--exploration` resource object. Individual reads were verified on 2026-09-17
        against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns
        HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/NodeExploration'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/data_story:
    get:
      operationId: listNodeDataStory
      summary: List node--data_story resources
      tags:
      - Content
      description: 'OpenJustice Data Stories — narrative statistical stories composed of chart paragraphs (`field_data_chart`),
        tabs and sections.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/node/data_story?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/NodeDataStory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/node/data_story?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /node/data_story/{id}:
    get:
      operationId: getNodeDataStory
      summary: Get one node--data_story resource by UUID
      tags:
      - Content
      description: Returns a single `node--data_story` resource object. Individual reads were verified on 2026-09-17
        against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns
        HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/NodeDataStory'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/data_story_section:
    get:
      operationId: listNodeDataStorySection
      summary: List node--data_story_section resources
      tags:
      - Content
      description: 'Sections within a data story, related to the parent story, its year term and story type.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/node/data_story_section?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/NodeDataStorySection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/node/data_story_section?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /node/data_story_section/{id}:
    get:
      operationId: getNodeDataStorySection
      summary: Get one node--data_story_section resource by UUID
      tags:
      - Content
      description: Returns a single `node--data_story_section` resource object. Individual reads were verified on
        2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown
        UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/NodeDataStorySection'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/page:
    get:
      operationId: listNodePage
      summary: List node--page resources
      tags:
      - Content
      description: 'Basic content pages of the OpenJustice site.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/node/page?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/NodePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/node/page?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /node/page/{id}:
    get:
      operationId: getNodePage
      summary: Get one node--page resource by UUID
      tags:
      - Content
      description: Returns a single `node--page` resource object. Individual reads were verified on 2026-09-17 against
        `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns HTTP 404
        with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/NodePage'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/landing_page:
    get:
      operationId: listNodeLandingPage
      summary: List node--landing_page resources
      tags:
      - Content
      description: 'Section landing pages composed of section-block paragraphs.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 2 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/node/landing_page?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/NodeLandingPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/node/landing_page?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 2
  /node/landing_page/{id}:
    get:
      operationId: getNodeLandingPage
      summary: Get one node--landing_page resource by UUID
      tags:
      - Content
      description: Returns a single `node--landing_page` resource object. Individual reads were verified on 2026-09-17
        against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns
        HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/NodeLandingPage'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/front_page:
    get:
      operationId: listNodeFrontPage
      summary: List node--front_page resources
      tags:
      - Content
      description: 'The OpenJustice front page composition.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 1 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/node/front_page?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/NodeFrontPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/node/front_page?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 1
  /node/front_page/{id}:
    get:
      operationId: getNodeFrontPage
      summary: Get one node--front_page resource by UUID
      tags:
      - Content
      description: Returns a single `node--front_page` resource object. Individual reads were verified on 2026-09-17
        against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns
        HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/NodeFrontPage'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /file/file:
    get:
      operationId: listFileFile
      summary: List file--file resources
      tags:
      - Files
      description: 'File entities — the actual CSV, XLSX, ZIP and PDF distributions behind the datasets and publications.
        `uri.url` is a site-relative path under /sites/default/files/ that resolves to a direct download on https://data-openjustice.doj.ca.gov
        (verified: text/csv, 1,749,288 bytes for Adult_Probation_2003-2025_0.csv).


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/file/file?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/FileFile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/file/file?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /file/file/{id}:
    get:
      operationId: getFileFile
      summary: Get one file--file resource by UUID
      tags:
      - Files
      description: Returns a single `file--file` resource object. Individual reads were verified on 2026-09-17 against
        `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns HTTP 404
        with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/FileFile'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /paragraph/data_chart:
    get:
      operationId: listParagraphDataChart
      summary: List paragraph--data_chart resources
      tags:
      - Paragraphs
      description: 'Chart paragraphs used by data stories; `field_chart_file` points at the CSV a chart is drawn
        from.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/paragraph/data_chart?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ParagraphDataChart'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/paragraph/data_chart?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /paragraph/data_chart/{id}:
    get:
      operationId: getParagraphDataChart
      summary: Get one paragraph--data_chart resource by UUID
      tags:
      - Paragraphs
      description: Returns a single `paragraph--data_chart` resource object. Individual reads were verified on 2026-09-17
        against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns
        HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ParagraphDataChart'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /paragraph/data_tab:
    get:
      operationId: listParagraphDataTab
      summary: List paragraph--data_tab resources
      tags:
      - Paragraphs
      description: 'Tab paragraphs grouping charts inside a data story.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/paragraph/data_tab?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ParagraphDataTab'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/paragraph/data_tab?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /paragraph/data_tab/{id}:
    get:
      operationId: getParagraphDataTab
      summary: Get one paragraph--data_tab resource by UUID
      tags:
      - Paragraphs
      description: Returns a single `paragraph--data_tab` resource object. Individual reads were verified on 2026-09-17
        against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns
        HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ParagraphDataTab'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /paragraph/publication_report:
    get:
      operationId: listParagraphPublicationReport
      summary: List paragraph--publication_report resources
      tags:
      - Paragraphs
      description: 'One published report year of a publication, with `field_publication_year` and the PDF in `field_publication_file`.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/paragraph/publication_report?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ParagraphPublicationReport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/paragraph/publication_report?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /paragraph/publication_report/{id}:
    get:
      operationId: getParagraphPublicationReport
      summary: Get one paragraph--publication_report resource by UUID
      tags:
      - Paragraphs
      description: Returns a single `paragraph--publication_report` resource object. Individual reads were verified
        on 2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown
        UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ParagraphPublicationReport'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /paragraph/section_block:
    get:
      operationId: listParagraphSectionBlock
      summary: List paragraph--section_block resources
      tags:
      - Paragraphs
      description: 'Landing-page section blocks.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 2 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/paragraph/section_block?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ParagraphSectionBlock'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/paragraph/section_block?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 2
  /paragraph/section_block/{id}:
    get:
      operationId: getParagraphSectionBlock
      summary: Get one paragraph--section_block resource by UUID
      tags:
      - Paragraphs
      description: Returns a single `paragraph--section_block` resource object. Individual reads were verified on
        2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown
        UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ParagraphSectionBlock'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /paragraph/block_item:
    get:
      operationId: listParagraphBlockItem
      summary: List paragraph--block_item resources
      tags:
      - Paragraphs
      description: 'Individual items within a landing-page block.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/paragraph/block_item?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ParagraphBlockItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/paragraph/block_item?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /paragraph/block_item/{id}:
    get:
      operationId: getParagraphBlockItem
      summary: Get one paragraph--block_item resource by UUID
      tags:
      - Paragraphs
      description: Returns a single `paragraph--block_item` resource object. Individual reads were verified on 2026-09-17
        against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns
        HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ParagraphBlockItem'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /paragraph/blocks_quad:
    get:
      operationId: listParagraphBlocksQuad
      summary: List paragraph--blocks_quad resources
      tags:
      - Paragraphs
      description: 'Four-up block layout paragraphs.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 1 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/paragraph/blocks_quad?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ParagraphBlocksQuad'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/paragraph/blocks_quad?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 1
  /paragraph/blocks_quad/{id}:
    get:
      operationId: getParagraphBlocksQuad
      summary: Get one paragraph--blocks_quad resource by UUID
      tags:
      - Paragraphs
      description: Returns a single `paragraph--blocks_quad` resource object. Individual reads were verified on
        2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown
        UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ParagraphBlocksQuad'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /paragraph/highlight_item:
    get:
      operationId: listParagraphHighlightItem
      summary: List paragraph--highlight_item resources
      tags:
      - Paragraphs
      description: 'Highlight items on landing pages.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/paragraph/highlight_item?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ParagraphHighlightItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/paragraph/highlight_item?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /paragraph/highlight_item/{id}:
    get:
      operationId: getParagraphHighlightItem
      summary: Get one paragraph--highlight_item resource by UUID
      tags:
      - Paragraphs
      description: Returns a single `paragraph--highlight_item` resource object. Individual reads were verified
        on 2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown
        UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ParagraphHighlightItem'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /paragraph/highlight_tri:
    get:
      operationId: listParagraphHighlightTri
      summary: List paragraph--highlight_tri resources
      tags:
      - Paragraphs
      description: 'Three-up highlight layout paragraphs.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 1 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/paragraph/highlight_tri?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ParagraphHighlightTri'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/paragraph/highlight_tri?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 1
  /paragraph/highlight_tri/{id}:
    get:
      operationId: getParagraphHighlightTri
      summary: Get one paragraph--highlight_tri resource by UUID
      tags:
      - Paragraphs
      description: Returns a single `paragraph--highlight_tri` resource object. Individual reads were verified on
        2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown
        UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ParagraphHighlightTri'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /paragraph/intro_header:
    get:
      operationId: listParagraphIntroHeader
      summary: List paragraph--intro_header resources
      tags:
      - Paragraphs
      description: 'Intro header paragraphs.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 1 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/paragraph/intro_header?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ParagraphIntroHeader'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/paragraph/intro_header?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 1
  /paragraph/intro_header/{id}:
    get:
      operationId: getParagraphIntroHeader
      summary: Get one paragraph--intro_header resource by UUID
      tags:
      - Paragraphs
      description: Returns a single `paragraph--intro_header` resource object. Individual reads were verified on
        2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown
        UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ParagraphIntroHeader'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /paragraph/link:
    get:
      operationId: listParagraphLink
      summary: List paragraph--link resources
      tags:
      - Paragraphs
      description: 'Link paragraphs.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/paragraph/link?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ParagraphLink'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/paragraph/link?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /paragraph/link/{id}:
    get:
      operationId: getParagraphLink
      summary: Get one paragraph--link resource by UUID
      tags:
      - Paragraphs
      description: Returns a single `paragraph--link` resource object. Individual reads were verified on 2026-09-17
        against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns
        HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ParagraphLink'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /taxonomy_term/data_type:
    get:
      operationId: listTaxonomyTermDataType
      summary: List taxonomy_term--data_type resources
      tags:
      - Taxonomies
      description: 'Data-type vocabulary used to classify datasets.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/taxonomy_term/data_type?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/TaxonomyTermDataType'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/taxonomy_term/data_type?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /taxonomy_term/data_type/{id}:
    get:
      operationId: getTaxonomyTermDataType
      summary: Get one taxonomy_term--data_type resource by UUID
      tags:
      - Taxonomies
      description: Returns a single `taxonomy_term--data_type` resource object. Individual reads were verified on
        2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown
        UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/TaxonomyTermDataType'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /taxonomy_term/data_story_year:
    get:
      operationId: listTaxonomyTermDataStoryYear
      summary: List taxonomy_term--data_story_year resources
      tags:
      - Taxonomies
      description: 'Year vocabulary for data stories.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/taxonomy_term/data_story_year?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/TaxonomyTermDataStoryYear'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/taxonomy_term/data_story_year?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /taxonomy_term/data_story_year/{id}:
    get:
      operationId: getTaxonomyTermDataStoryYear
      summary: Get one taxonomy_term--data_story_year resource by UUID
      tags:
      - Taxonomies
      description: Returns a single `taxonomy_term--data_story_year` resource object. Individual reads were verified
        on 2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown
        UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/TaxonomyTermDataStoryYear'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /taxonomy_term/site_section:
    get:
      operationId: listTaxonomyTermSiteSection
      summary: List taxonomy_term--site_section resources
      tags:
      - Taxonomies
      description: 'Site-section vocabulary.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 1 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/taxonomy_term/site_section?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/TaxonomyTermSiteSection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/taxonomy_term/site_section?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 1
  /taxonomy_term/site_section/{id}:
    get:
      operationId: getTaxonomyTermSiteSection
      summary: Get one taxonomy_term--site_section resource by UUID
      tags:
      - Taxonomies
      description: Returns a single `taxonomy_term--site_section` resource object. Individual reads were verified
        on 2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown
        UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/TaxonomyTermSiteSection'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /taxonomy_term/story_type:
    get:
      operationId: listTaxonomyTermStoryType
      summary: List taxonomy_term--story_type resources
      tags:
      - Taxonomies
      description: 'Story-type vocabulary.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/taxonomy_term/story_type?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/TaxonomyTermStoryType'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/taxonomy_term/story_type?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /taxonomy_term/story_type/{id}:
    get:
      operationId: getTaxonomyTermStoryType
      summary: Get one taxonomy_term--story_type resource by UUID
      tags:
      - Taxonomies
      description: Returns a single `taxonomy_term--story_type` resource object. Individual reads were verified
        on 2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown
        UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/TaxonomyTermStoryType'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node_type/node_type:
    get:
      operationId: listNodeTypeNodeType
      summary: List node_type--node_type resources
      tags:
      - Site Configuration
      description: 'The 13 content types of the site (config entity).


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/node_type/node_type?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/NodeTypeNodeType'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/node_type/node_type?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /node_type/node_type/{id}:
    get:
      operationId: getNodeTypeNodeType
      summary: Get one node_type--node_type resource by UUID
      tags:
      - Site Configuration
      description: Returns a single `node_type--node_type` resource object. Individual reads were verified on 2026-09-17
        against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns
        HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/NodeTypeNodeType'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /paragraphs_type/paragraphs_type:
    get:
      operationId: listParagraphsTypeParagraphsType
      summary: List paragraphs_type--paragraphs_type resources
      tags:
      - Site Configuration
      description: 'Paragraph types (config entity).


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/paragraphs_type/paragraphs_type?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ParagraphsTypeParagraphsType'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/paragraphs_type/paragraphs_type?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /paragraphs_type/paragraphs_type/{id}:
    get:
      operationId: getParagraphsTypeParagraphsType
      summary: Get one paragraphs_type--paragraphs_type resource by UUID
      tags:
      - Site Configuration
      description: Returns a single `paragraphs_type--paragraphs_type` resource object. Individual reads were verified
        on 2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown
        UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ParagraphsTypeParagraphsType'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /menu/menu:
    get:
      operationId: listMenuMenu
      summary: List menu--menu resources
      tags:
      - Site Configuration
      description: 'Site menus (config entity).


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/menu/menu?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/MenuMenu'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/menu/menu?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /menu/menu/{id}:
    get:
      operationId: getMenuMenu
      summary: Get one menu--menu resource by UUID
      tags:
      - Site Configuration
      description: Returns a single `menu--menu` resource object. Individual reads were verified on 2026-09-17 against
        `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns HTTP 404
        with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MenuMenu'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /menu_link_content/menu_link_content:
    get:
      operationId: listMenuLinkContentMenuLinkContent
      summary: List menu_link_content--menu_link_content resources
      tags:
      - Site Configuration
      description: 'Menu link content items.


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/menu_link_content/menu_link_content?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/MenuLinkContentMenuLinkContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/menu_link_content/menu_link_content?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /menu_link_content/menu_link_content/{id}:
    get:
      operationId: getMenuLinkContentMenuLinkContent
      summary: Get one menu_link_content--menu_link_content resource by UUID
      tags:
      - Site Configuration
      description: Returns a single `menu_link_content--menu_link_content` resource object. Individual reads were
        verified on 2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page).
        An unknown UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MenuLinkContentMenuLinkContent'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contact_form/contact_form:
    get:
      operationId: listContactFormContactForm
      summary: List contact_form--contact_form resources
      tags:
      - Site Configuration
      description: 'Contact form configuration (config entity).


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 1 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/contact_form/contact_form?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ContactFormContactForm'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/contact_form/contact_form?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 1
  /contact_form/contact_form/{id}:
    get:
      operationId: getContactFormContactForm
      summary: Get one contact_form--contact_form resource by UUID
      tags:
      - Site Configuration
      description: Returns a single `contact_form--contact_form` resource object. Individual reads were verified
        on 2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown
        UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ContactFormContactForm'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /date_format/date_format:
    get:
      operationId: listDateFormatDateFormat
      summary: List date_format--date_format resources
      tags:
      - Site Configuration
      description: 'Date format configuration (config entity).


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/date_format/date_format?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/DateFormatDateFormat'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/date_format/date_format?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /date_format/date_format/{id}:
    get:
      operationId: getDateFormatDateFormat
      summary: Get one date_format--date_format resource by UUID
      tags:
      - Site Configuration
      description: Returns a single `date_format--date_format` resource object. Individual reads were verified on
        2026-09-17 against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown
        UUID returns HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/DateFormatDateFormat'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /block/block:
    get:
      operationId: listBlockBlock
      summary: List block--block resources
      tags:
      - Site Configuration
      description: 'Theme block placements (config entity).


        Probed anonymously 2026-09-17: HTTP 200, `application/vnd.api+json`, 3 resource object(s) returned from
        https://data-openjustice.doj.ca.gov/jsonapi/block/block?page[limit]=3.'
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CollectionDocument'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/BlockBlock'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-probe:
        url: https://data-openjustice.doj.ca.gov/jsonapi/block/block?page[limit]=3
        http_status: 200
        content_type: application/vnd.api+json
        fetched: '2026-09-17'
        resources_returned: 3
  /block/block/{id}:
    get:
      operationId: getBlockBlock
      summary: Get one block--block resource by UUID
      tags:
      - Site Configuration
      description: Returns a single `block--block` resource object. Individual reads were verified on 2026-09-17
        against `node--stats` (self link of the Adult Probation Caseload & Actions page). An unknown UUID returns
        HTTP 404 with a JSON:API error document.
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/IndividualDocument'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/BlockBlock'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /node/signup:
    post:
      operationId: createNodeSignup
      summary: Submit a newsletter sign-up (email address)
      tags:
      - Feedback
      description: 'Anonymous create of a `node--signup` resource. This is the operation the OpenJustice site footer
        performs (its app bundle POSTs `/jsonapi/node/signup` with a `node--signup` payload whose `title` and `body.value`
        both carry the submitted text, `body.format` "plain_text"). Verified 2026-09-17: an anonymous POST with
        an EMPTY body returned HTTP 400 "Empty request body." rather than 401, i.e. anonymous access to this create
        route is granted (by contrast an empty anonymous POST to /node/dataset returns 401 "No authentication credentials
        provided."). No populated request was sent by API Evangelist — do not call this operation to test; it creates
        a record the DOJ staff will read. Anonymous GET on this collection returns an empty page with meta.omitted
        (submissions are not readable back).'
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      const: node--signup
                    attributes:
                      type: object
                      properties:
                        title:
                          type: string
                        body:
                          type: object
                          properties:
                            value:
                              type: string
                            format:
                              type: string
                              const: plain_text
      responses:
        '201':
          description: Created (the site code checks for statusText "Created"). Not exercised by API Evangelist.
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          description: JSON:API validation error document (Drupal entity validation).
          content:
            application/vnd.api+json:
              schema:
[...]
